*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#navbar{
 height: 100px;
 background-color:White;
  font-size: 20px;

}
#navbar a{
    margin-left: 21px;
}
#boxs{
font-size: 35px;
font-weight: bold;
}
.butter h1{
    text-align: center;
    font-size: 50px;
  
    margin-top:40px ;
}
.help{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.help .card-body{
    text-align: center;
}
footer{
background-color: black;
}